
.main{
    display: flex;
     height: 100%;
     
    
}
.UserForm{
    
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;    
    width: 700px;
    
}
.user{
    margin-top: 25px;
    font-size: 25px;
}
.title{
    font-size: 40px;
}

.iuser{
    width: 200px;
    height: 40px;
    border: 2px solid black;
}
.pass{
    margin-top: 40px;
    font-size: 30px;
}
.ipass{
         margin-left: 6px;
        width: 200px;
        height: 40px;
        border: 2px solid black;
        
     
}
.col{
    margin-left: 18px;
}
.coluuuser{
  margin-left: 10px;
}
.formi{
    margin-left: 40px;
    margin-top: 50px;
}

.remark{
    margin-top: 40px;
    font-size: 30px;
}
.iremark{
    margin-left: 6px;
    width: 200px;
    height: 40px;
    border: 2px solid black;
}
.col2{
    margin-left: 25px;
}
.btnf{
    font-family: 'Times New Roman', Times, serif;
   margin-top: 75px;
    height: 60px;
    width: 140px;
    background-color: #4099ff;
    border: none;
    font-size: 25px;
}

.btnf:hover{
    cursor: pointer;
    background-color: white;
    border: 1px solid #4099ff;
    color: #4099ff;
}




td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
    width: 200px;

  }
  .alldata{
    /* margin-left: 10px; */
    margin-top: 25px;
    margin-right:50px ;
  }
.vl{
    border-left: 2px solid black;
    height: 790px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}


  /* Buisness_Details */

  .bdetail{
    margin-top: 25px;
    margin-left: 50px;
    font-size: 40px;
  }

  .iname{
    margin-left: 7px;
    width: 200px;
    height: 40px;
    border: 2px solid black;
  }

  .iadd{
    width: 200px;
    height: 40px;
    border: 2px solid black;
    margin-left: 13px;
  }

  .inum{
    width: 200px;
    height: 40px;
    border: 2px solid black;
    margin-left: 5px;
  }

  .colremark{
    margin-left: 15px;
  }
  .coluser{
    margin-left: 45px;
  }
  .colnum{
    margin-left: 42px;
  }
  .coladd{
    margin-left:25px;
  }
  .userf{
    font-size: 25px;
    margin-top: 25px;
  }

  .upbtn{
   
    padding-top: 10px;
    height: 30px;
    width: 80px;
    margin-left: 25px;
    background-color: #4099ff; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .upbtn:hover{
    background-color: white;
    color: black;
    border: 1px solid #4099ff;
  }
  .delbtn{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 10px ;
    height: 40px;
    width: 80px;
    margin-left: 25px;
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .delbtn:hover{
    background-color: white;
    color: black;
    border: 1px solid red;
  }
  .uuuser{
    font-size: 30px;
  }