.App{
    width: 100vw;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 0;
    padding: 0;
}

.Sidebar{
    height: 100%;
    width: 300px;
    background-color: #2F4050;
    display: flex;
}

.SidebarList{
    height: auto;
    width: 100%;
    padding: 0;    
}
.SidebarList .row{
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.row #title{
    flex:70%
}

.SidebarList .row:hover{
    cursor: pointer;
    background-color: #293846;
}

.SidebarList  #active{
    background-color: #293846;
}